<div class="container">
    <div class="card ">
      <div class="card-header">
        <br>
        <img src='../../assets/project2.2.png' width="150" height="150">
     </div>

        <div class="card-body">
          
          
            <form>
              <button class="btn btn-dark btn-outline-light" type="button" routerLink="/qr-generator-reader">Generate QR Code or Scan</button>
              <br><br>
              <button class="btn btn-dark btn-outline-light" type="button" routerLink="/home">{{ssn}}</button>
              <br><br>
              <button class="btn btn-dark btn-outline-light" type="button" routerLink="/home">Your</button>
              <br><br>
              <button class="btn btn-dark btn-outline-light" type="button" routerLink="/home">Routers</button>
              <br><br>

            </form>
        </div>
    </div>  
</div>
    <br><br><br>
          