<div class="container">
  <div class="card ">
    <div class="card-header">
      <img src='../../assets/project2.png' width="200" height="200">
      <br>
      <br>
      Login as Patient
    </div>
    <div class="card-body">
      <h5 class="card-title">Enter<br> Credentials:</h5>
      <!--<input class= "form-control" [(ngModel)]="user.username" type="text" placeholder="Username">
          -->
      <!--<input class= "form-control" [(ngModel)]="user.password" type="password" placeholder="Password">
          -->
      <form>
        <input style="align-content:center; margin: 0 auto; width:100%; " type="text" placeholder="Email">
        <br>
        <br>
        <input style="align-content:center; margin: 0 auto; width:100%;" type="password" placeholder="Password">
        <br>
        <br>
        <button class="btn btn-dark btn-outline-light" (click)="changeEmail()">Change Email</button>
          <br>
          <a href="#" class="btn btn-dark btn-outline-light">Login</a>
      </form>
    </div>
  </div>
</div>
<br>
<br>
<br>