<div class="container">
  <div class="card ">
    <div class="card-header">
      <img src='../../assets/project2.png' width="200" height="200">
      <br>
      <br>
      Login as Patient
    </div>
    <div class="card-body">
      <h5 class="card-title">Enter<br> Credentials:</h5>

      <form [formGroup]="myForm" novalidate>
        <div class="form-group">
          <input class="form-control" id="username" [(ngModel)]="user.username" name ="username" [ngClass]="{ 'is-invalid': inboudClick && f.input.errors }"
          style="align-content:center; margin: 0 auto; width:100%;" type="text" placeholder="Username or Email"
          formControlName="input">
          <div *ngIf="inboudClick && f.input.errors" class="invalid-feedback">
            <div *ngIf="f.input.errors.required">Username or Email is required</div>
            <div *ngIf="f.input.errors.cannotContainSpace">No space</div>
        </div>
        </div>
        <br>
        <br>
        <div class="form-group">
          <input class="form-control" id="password" [(ngModel)]="user.password" name ="password" [ngClass]="{ 'is-invalid': inboudClick && f.passwordValidator.errors}"
            style="align-content:center; margin: 0 auto; width:100%;" type="password" placeholder="Password" formControlName="passwordValidator" >
            <div *ngIf="inboudClick && f.passwordValidator.errors" class="invalid-feedback">
              <div *ngIf="f.passwordValidator.errors.required">Password is required</div>
              <div *ngIf="f.passwordValidator.errors.cannotContainSpace">No space</div>
          </div>
        </div>
        <br>
        <br>
        <button class="btn btn-dark btn-outline-light" type="button" (click)="validatePatientCreds()">
          <span class="spinner-border spinner-border-sm mr-1"></span>
          Login
        </button>
        <br>
        <br>   
        <a routerLink="/updatePasswordCheck" class="nav-link">Forgot password?</a>
      </form>
    </div>
  </div>
</div>
<br>
<br>
<br>