<div class="container">
    <div class="card ">
      <div class="card-header">
        <img src='../../assets/project2.png' width="200" height="200">
        <br>
        <br>
        Reset Password
      </div>
      <div class="card-body">
        <h5 class="card-title">Enter<br> Credentials:</h5>
  
        <form [formGroup]="myForm" novalidate>
          <div class="form-group">
            <input class="form-control" id="email" [(ngModel)]="user.email" name ="email" [ngClass]="{ 'is-invalid': inboudClick && f.emailValidator.errors }"
            style="align-content:center; margin: 0 auto; width:100%;" type="text" placeholder="Email"
            formControlName="emailValidator">
            <div *ngIf="inboudClick && f.emailValidator.errors" class="invalid-feedback">
              <div *ngIf="f.emailValidator.errors.required">Email is required</div>
              <div *ngIf="f.emailValidator.errors.cannotContainSpace">No Whitespace Allowed</div>
              <div *ngIf="f.emailValidator.errors.email">Email Format ex: phuc@gmail.com</div>
          </div>
          </div>
          <br>
          <br>
          <div class="form-group">
            <input class="form-control" id="SSN" [(ngModel)]="user.SSN" name ="SSN" [ngClass]="{ 'is-invalid': inboudClick && f.ssnValidator.errors}"
              style="align-content:center; margin: 0 auto; width:100%;" type="text" placeholder="Last 4 digits of your ssn (###-##-1234)" formControlName="ssnValidator" >
              <div *ngIf="inboudClick && f.ssnValidator.errors" class="invalid-feedback">
                <div *ngIf="f.ssnValidator.errors.required">SSN is required</div>
                 <div *ngIf="f.ssnValidator.errors.cannotContainSpace">No space</div>
                 <div *ngIf="f.ssnValidator.errors.pattern">4 digits only</div>
                <!--  <div *ngIf="f.ssnValidator.errors.maxLength"> Fours digits only</div>
                 <div *ngIf="f.ssnValidator.errors.minLength">4 digits only</div> -->
            </div>
          </div>
          <br>
          <br>
          <button class="btn btn-dark btn-outline-light" type="button" (click)="updatePasswordCheck()">
            <span class="spinner-border spinner-border-sm mr-1"></span>
            Summit
          </button>
          <br>
          <br>   
        </form>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>