    <div class="container">
        <div class="card ">
          <div class="card-header">
            <br>
            <img src='../../assets/project2.2.png' width="150" height="150">
         </div>
    
            <div class="card-body">
              
              
                <form>

                    <button class="btn btn-dark btn-outline-light" type="button" routerLink="/patientUpdate">Update Patient Records</button>
                    <br><br>

                </form>
            </div>
        </div>  
    </div>
        <br><br><br>
              
          