<div class="container">
    <div class="card ">
      <div class="card-header">
        <img src='../../assets/project2.png' width="200" height="200">
      <br>
      <br>
        Update Patient
      </div>
      <div class="card-body">
        <h5 class="card-title">Enter<br> Credentials:</h5>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-Group">
              <input style="align-content:center; margin: 0 auto; width:100%;" type="text" placeholder="SSN xxx-xx-xxxx" formControlName="ssn" class="form-control"[ngClass]="{ 'is-invalid': submitted && f.ssn.errors }">
              <div *ngIf="submitted && f.ssn.errors" class="invalid-feedback">
                <div *ngIf="f.ssn.errors.required">SSN is required</div>
                <div *ngIf="f.ssn.errors.cannotContainSpace">Cannot Contain Space</div>
                <div *ngIf="f.ssn.errors.pattern">Must follow xxx-xx-xxxx format</div>
            </div>
            <div ><output style ="color:rgb(196, 38, 38); font-size: small;">{{message}}</output></div>
            </div>
            <br>
            <div class="form-Group">
                <label for="vaccineType">Vaccine Type:</label>
                <select name="vaccineType"  formControlName="vaccineType" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.vaccineType.errors }">
                  <option value="Moderna">Moderna</option>
                  <option value="Pfizer">Pfizer</option>
                  <option value="Johnson&Johnson">Johnson&Johnson</option>
                </select>
                <div *ngIf="submitted && f.vaccineType.errors" class="invalid-feedback">  
                <div *ngIf="f.vaccineType.errors.required">Vaccine Type is required</div>
              </div> 
            </div>
            <br>
            <br>
            <div class="form-Group">
                <input style="align-content:center; margin: 0 auto; width:100%;" type="text" placeholder="Lot#" formControlName="lot" class="form-control"[ngClass]="{ 'is-invalid': submitted && f.lot.errors }">
                <div *ngIf="submitted && f.lot.errors" class="invalid-feedback">
                  <div *ngIf="f.lot.errors.required">lot is required</div>
                  <div *ngIf="f.lot.errors.minlength">Number of numbers/characters must be greater than 3</div>
                  <div *ngIf="f.lot.errors.maxlength">Number of characters must be less than 200</div>
                  <div *ngIf="f.lot.errors.cannotContainSpace">Cannot Contain Space</div>
              </div>
              </div>
            <br>
            <div class="form-Group">
                Date of Vaccination:
                <input style="align-content:center; margin: 0 auto; width:100%;" type="text" placeholder="mm-dd-yyyy" formControlName="date" class="form-control"[ngClass]="{ 'is-invalid': submitted && f.date.errors }">
                <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
                  <div *ngIf="f.date.errors.required">Date of Vaccination is required</div>
                  <div *ngIf="f.date.errors.ptDate">Please enter/re-enter it as mm-dd-yyyy.</div>
              </div>
              </div>
              <br>
            <button [disabled]="loading" class="btn btn-dark btn-outline-light">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                      Update
            </button>
          </form>
      </div>
    </div>
  </div>
