<div class="container">
    <div class="card ">
      <div class="card-header">
        <img src='../../assets/project2.png' width="200" height="200">
      <br>
      <br>
        Login as Provider
      </div>
      <div class="card-body">
        <h5 class="card-title">Enter<br> Credentials:</h5>
        

        <form>
          <input class= "form-control" id="username" [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}" style="align-content:center; margin: 0 auto; width:100%;" type="text" placeholder="Username">
           <!--  -->
          <br>
          <br>
          <input class= "form-control" id="password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" style="align-content:center; margin: 0 auto; width:100%;"  type="password" placeholder="Password">
          <!--  -->
           <br>
          <br>
          <a class="btn btn-dark btn-outline-light" (click)="checkCred()">Login</a>
        </form>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
