<div class="container">
  <div class="card ">
    <div class="card-header">
      <img src='../../assets/project2.png' width="200" height="200">
      <br>
      <br>
      Login as Provider
    </div>
    <div class="card-body">
      <h5 class="card-title">Enter<br> Credentials:</h5>


      <form [formGroup]="form" novalidate>
        <div class="form-group">
          <input class="form-control" id="username" [(ngModel)]="user.username"
            [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
            style="align-content:center; margin: 0 auto; width:100%;" type="text" placeholder="Username"
            formControlName="username">
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
          </div>
        </div>
        <br>
        <br>
        <div class="form-group">
          <input class="form-control" id="password" [(ngModel)]="user.password"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
            style="align-content:center; margin: 0 auto; width:100%;" type="password" placeholder="Password"
            formControlName="password">
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
        </div>
        <br>
        <br>
        <button class="btn btn-dark btn-outline-light" type="button" (click)="loginProvider()">
          <span class="spinner-border spinner-border-sm mr-1"></span>
          Login
        </button>
      </form>
    </div>
  </div>
</div>
<br>
<br>
<br>