<div class="container">
    <div class="card ">
      <div class="card-header">
        <img src='../../assets/project2.png' width="200" height="200">
        <br>
        <br>
        Reset Password
      </div>
      <div class="card-body">
        <h5 class="card-title">Enter<br> Credentials:</h5>
  
        <form [formGroup]="myForm" novalidate>
            <div class="form-group">
                <input class="form-control" id="password" [(ngModel)]="user.password" name ="password" [ngClass]="{ 'is-invalid': inboudClick && f.passwordValidator.errors}"
                  style="align-content:center; margin: 0 auto; width:100%;" type="password" placeholder="Enter new password" formControlName="passwordValidator" >
                  <div *ngIf="inboudClick && f.passwordValidator.errors" class="invalid-feedback">
                    <div *ngIf="f.passwordValidator.errors.required">Password is required</div>
                    <div *ngIf="f.passwordValidator.errors.pattern">Minimum eight characters, at least one letter, one number, and one uppercase</div>
                      <div *ngIf="f.passwordValidator.errors.cannotContainSpace">No Whitespace Allowed</div>
                </div>
              </div>
          <br>
          <br>
          <div class="form-group">
            <input class="form-control" id="password1" [(ngModel)]="user1.password" name ="password1" [ngClass]="{ 'is-invalid': inboudClick && f.password1Validator.errors}"
              style="align-content:center; margin: 0 auto; width:100%;" type="password" placeholder="Re-enter new password" formControlName="password1Validator" >
              <div *ngIf="inboudClick && f.password1Validator.errors" class="invalid-feedback">
                <div *ngIf="f.password1Validator.errors.required">password is required</div>
                 <div *ngIf="f.password1Validator.errors.cannotContainSpace">No Whitespace Allowed</div>
                 <div *ngIf="f.password1Validator.errors.confirmedValidator">Password and Confirm Password must be match</div>

            </div>
          </div>
          <br>
          <br>
          <button class="btn btn-dark btn-outline-light" type="button" (click)="updatePassword()">
            <span class="spinner-border spinner-border-sm mr-1"></span>
            Summit
          </button>
          <br>
          <br>   
        </form>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>